.link__item {
  text-decoration: none;
  list-style: none;
  display: block;
  width: 80rem;
  max-width: 90%;

  background-color: #eaecf0;

  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  margin: 1rem auto;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  /* Gray/900 */

  color: #101828;
  height: 76px;

  /* Shadow/xs */

  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
}

.link__item p {
  line-height: 1.5;
  font-size: 14px;
}

.link__item:hover {
  background-color: #d0d5dd;
}

@media screen and (max-width: 535px) {
  .link__item {
    overflow-x: scroll;
  }

  .link__item::-webkit-scrollbar {
    display: none;
  }
}
