.arrow__link {
  position: relative;
  left: 75%;
  top: 3rem;
  width: 2rem;
  max-width: 3rem;
  height: 2rem;
  max-height: 3rem;
  background-color: aqua;
  border-radius: 50%;
  border: 1px dashed black;
}

.pic {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: black;
  margin: 1rem auto;
}

.center__alignment {
  text-align: center;
}
.center__alignment h1 {
  padding: 8px 0;
}

.img {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.img:hover .backdrop {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 50%;
  z-index: 10;
}
