.myName {
  display: flex;
  justify-content: center;
  padding: 2rem 0 2.5rem 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Gray/900 */

  color: #101828;
}

.slackName {
  display: none;
}
