.logo__div {
  max-width: 30%;
  width: 24rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logo__image {
  object-fit: contain;
}

.title__internship {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  font-size: 1.5rem;
  font-weight: 900;
}

.title_internship_circle {
  padding: 0.3rem;
  background-color: red;
  border-radius: 50%;
}

.title_subtext {
  font-size: 1rem;
  font-weight: 200;
}

@media screen and (max-width: 700px) {
  .footer__div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: flex-start;
    margin-left: 1rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 700px) {
  .footer__div {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
  }
}
